body{
    background-color: rgb(0, 0, 0);
    color: rgb(79, 192, 79);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/img/juicewrld.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

li>a{
        
    text-decoration: none;
    color: aliceblue;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    background-color: black;
    font-size: 50px;
    
}